.*swp
.env
__pycache__/
examples


# Jenkins excludes
jenkins_home/logs/
jenkins_home/jobs/*/builds
jenkins_home/workspace/



jenkins_home/plugins/ace-editor
jenkins_home/plugins/antisamy-markup-formatter
jenkins_home/plugins/apache-httpcomponents-client-4-api
jenkins_home/plugins/authentication-tokens
jenkins_home/plugins/bouncycastle-api
jenkins_home/plugins/branch-api
jenkins_home/plugins/build-timeout
jenkins_home/plugins/cloudbees-folder
jenkins_home/plugins/command-launcher
jenkins_home/plugins/credentials
jenkins_home/plugins/credentials-binding
jenkins_home/plugins/display-url-api
jenkins_home/plugins/docker-commons
jenkins_home/plugins/docker-workflow
jenkins_home/plugins/durable-task
jenkins_home/plugins/email-ext
jenkins_home/plugins/git
jenkins_home/plugins/git-client
jenkins_home/plugins/github
jenkins_home/plugins/github-api
jenkins_home/plugins/github-branch-source
jenkins_home/plugins/git-server
jenkins_home/plugins/gradle
jenkins_home/plugins/handlebars
jenkins_home/plugins/jackson2-api
jenkins_home/plugins/jdk-tool
jenkins_home/plugins/jquery-detached
jenkins_home/plugins/jsch
jenkins_home/plugins/junit
jenkins_home/plugins/lockable-resources
jenkins_home/plugins/mailer
jenkins_home/plugins/mapdb-api
jenkins_home/plugins/matrix-auth
jenkins_home/plugins/matrix-project
jenkins_home/plugins/momentjs
jenkins_home/plugins/pam-auth
jenkins_home/plugins/pipeline-build-step
jenkins_home/plugins/pipeline-github-lib
jenkins_home/plugins/pipeline-graph-analysis
jenkins_home/plugins/pipeline-input-step
jenkins_home/plugins/pipeline-milestone-step
jenkins_home/plugins/pipeline-model-api
jenkins_home/plugins/pipeline-model-declarative-agent
jenkins_home/plugins/pipeline-model-definition
jenkins_home/plugins/pipeline-model-extensions
jenkins_home/plugins/pipeline-rest-api
jenkins_home/plugins/pipeline-stage-step
jenkins_home/plugins/pipeline-stage-tags-metadata
jenkins_home/plugins/pipeline-stage-view
jenkins_home/plugins/plain-credentials
jenkins_home/plugins/publish-over
jenkins_home/plugins/publish-over-ssh
jenkins_home/plugins/resource-disposer
jenkins_home/plugins/scm-api
jenkins_home/plugins/script-security
jenkins_home/plugins/ssh-credentials
jenkins_home/plugins/ssh-slaves
jenkins_home/plugins/structs
jenkins_home/plugins/timestamper
jenkins_home/plugins/token-macro
jenkins_home/plugins/workflow-aggregator
jenkins_home/plugins/workflow-api
jenkins_home/plugins/workflow-basic-steps
jenkins_home/plugins/workflow-cps
jenkins_home/plugins/workflow-cps-global-lib
jenkins_home/plugins/workflow-durable-task-step
jenkins_home/plugins/workflow-job
jenkins_home/plugins/workflow-multibranch
jenkins_home/plugins/workflow-scm-step
jenkins_home/plugins/workflow-step-api
jenkins_home/plugins/workflow-support
jenkins_home/plugins/ws-cleanup
